<p>
<strong>Due date:</strong>
<%= @todo_item.due_date %>
</p>

<p>
<strong>Title:</strong>
<%= @todo_item.title %>
</p>

<p>
<strong>Description:</strong>
<%= @todo_item.description %>
</p>

<p>
<strong>Completed:</strong>
<%= @todo_item.completed %>
</p>

